    html{
      padding: 0px;
      margin: 0px;
      border: 0px;
    }
    body {
      padding: 0px;
      margin: 0px;
      border: 0px;
    }
    .container {
      display: grid;
      grid-template: 64px 64px 64px 64px 64px 64px 64px / 64px 64px 64px 64px 64px ;
      grid-template-areas: ". header header header ."
                           ". nav article aside ."
                           ". nav article aside ."
                           ". nav article aside ."
                           ". nav article aside ."
                           ". nav article aside ."
                           ". footer footer footer .";
    }
    
    .header {
      grid-area: header;
	  background-color: red;
    }
    .nav {
      grid-area: nav;
	  background-color: green;
    }
    .article {
      grid-area: article;
	  background-color: green;
    }
	.aside {
      grid-area: aside;
	  background-color: green;
    }
    .footer {
      grid-area: footer;
      background-color: blue;
    }
    /* cuando la pantalla sea mas grande a 320*/
    @media screen and (min-width: 321px) {
        .container {
            grid-template-areas: ". . header  . ."
                                 ". aside article nav ."
                                 ". . article . ."
                                 ". . article . ."
                                 ". . article . ."
                                 ". . article . ."
                                 ". footer footer footer .";
          }
    }
    @media screen and (min-width: 480px) {
        .container {
            grid-template-areas: ". . header  . ."
                                 ". aside article nav ."
                                 ". aside article . ."
                                 ". aside article . ."
                                 ". . article . ."
                                 ". . article . ."
                                 ". footer footer footer .";
          }
    }
    @media screen and (min-width: 768px) {
        .container {
            grid-template-areas: ". . header  . ."
                                 ". aside article aside ."
                                 ". . article aside ."
                                 ". . article aside ."
                                 ". . article . ."
                                 ". . article . ."
                                 ". footer footer . .";
          }
    }
    @media screen and (min-width: 1024px) {
        .container {
            grid-template-areas: ". . header  . ."
                                 ". aside article nav ."
                                 ". . article . ."
                                 ". . article . ."
                                 ". . article aside  aside"
                                 ". . article aside aside"
                                 ". . footer . .";
          }
    }