 body {
      font-family: Arial;
    }
    .container {
      display: grid;
      /*grid-template-columns: 25% 200px 25%;*/
      /*grid-template-rows: 300px 150px;*/
      /*grid-template: filas / columnas ;*/
      /*fr*/
      /*grid-template: 300px 100px 100px / repeat(4, 1fr);*/
      /*grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr));*/
      grid-template: 100px 1fr 150px/ 200px 1fr 200px;
      /*grid-gap: filas columnas;*/
      grid-gap: 10px;
      height: 100vh;
      grid-template-areas: "header header header"
                           "nav article aside "
                           "footer footer footer";
    }
    
    .header {
      grid-area: header;
	  background-color: red;
    }
    .nav {
      grid-area: nav;
	  background-color: green;
    }
    .article {
      grid-area: article;
	  background-color: green;
    }
	.aside {
      grid-area: aside;
	  background-color: green;
    }
    .footer {
      grid-area: footer;
      background-color: blue;
    }