body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: url("./images/fondoMobil.jpg");
    background-size: cover;
    padding: 5px;
}
.container {
    display: grid;
    grid-template: 64px 64px 64px 64px 64px 64px 64px / 64px 64px 64px 64px 64px ;
    height: 100vh;
    grid-template-areas: 
    " user      search    search    search    language"
    " user-menu article01 article01 article01 language-menu"
    " user-menu article02 article02 article02 language-menu"
    " .         article03 article03 article03 ."
    " .         article04 article04 article04 ."
    " .         article05 article05 article05 ."
    " .         footer    footer    footer ."
}
 

.header-user-img {
    grid-area: user;
    width: 60px; 
}
.header-user-img:hover{
    cursor: pointer;
}  
.header-user:hover ul, ul:hover {  
    display: block;  
}
.header-user-ul {
    grid-area: user-menu;
    list-style: none;
    display: none;
    text-align: left;  
    margin: 0px;
    padding: 10px;
    font-size: 50px;  
}
.header-user-li a {
    color: white;
    text-decoration: none;
}
.header-user-li:hover a{
    text-decoration: underline;
}
.header-user-li a {
    text-decoration: none;
}/* user search */
.header-search-input {
    grid-area: search;
    height: 140px;
    margin-top: 25px;
    border: 10px solid cadetblue;
    border-radius: 40px;  
    font-size: 46px;  
} 

.header-language-img {
    grid-area: language;
    width: 60px;
    padding-top: 10px;
    padding-left: 10px;
}
.header-language-img:hover{
    cursor: pointer;
}  
.header-language:hover ul, ul:hover {  
    display: block;  
}   
.header-language-ul {
    grid-area: language-menu;
    width: 60px;
    display: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    /*position: absolute;
    z-index: 100*/
}
.header-language-li {
    width: 60px;
}
.header-language-li:hover img{
    width: 58px;
    height: 58px;
    cursor: pointer;
}
.article01 {
    grid-area: article01; 
    background-color: rgba(0, 162, 255,0.35);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.article01 a {
    color: white;
    text-decoration: none;
    font-size: 50px;  
}
.article01 a:hover {
    text-decoration: underline;
}
.article02 {
    grid-area: article02;
    background-color: rgba(0, 162, 255,0.35);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.article02 a {
    color: white;
    text-decoration: none;
    font-size: 50px;  
}
.article02 a:hover {
    text-decoration: underline;
}
.article03 {
    grid-area: article03;
    background-color: rgba(0, 162, 255,0.35);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.article03 a {
    color: white;
    text-decoration: none;
    font-size: 50px;  
}
.article03 a:hover {
    text-decoration: underline;
}
.article04 {
    grid-area: article04;
    background-color: rgba(0, 162, 255,0.35);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.article04 a {
    color: white;
    text-decoration: none;
    font-size: 50px;  
}
.article04 a:hover {
    text-decoration: underline;
}
.article05 {
    grid-area: article05;
    background-color: rgba(0, 162, 255,0.35);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.article05 a {
    color: white;
    text-decoration: none;
    font-size: 50px;  
}
.article05 a:hover {
    text-decoration: underline;
}
.footer {
    grid-area: footer;
    font-size: 50px;
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.footer a:hover {
    text-decoration: underline;
}
    
   /* @media  (min-width: 768px) {
        .container {   
            " .      user    search    language      ."
            " .   user-menu article01  language-menu . "
            " .   user-menu  article02 language-menu . "
            " .   article03  article03 article03     . "
            " .   article04  article04 article04     . "
            " .   article05  article05 article05      . "
            " .     footer    footer    footer       . ";
        }
        .header-user-img {
            width: 120px; 
            padding-top: 20px;
            padding-left: 20px;
        }
        .header-language-img {
            grid-area: language;
            width: 120px;
            padding-top: 20px;
            padding-left: 40px;
        }
        .header-language-ul {
            width: 120px;
        }
        .header-search-input {  
            height: 88px;
            font-size: 30px;  
        } 

    }*/